@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* width */
  ::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-400;
    transition: 0.15s;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
  }

  body {
    @apply font-ubuntu;
    @apply text-gray-700;
    @apply bg-gray-100;
  }

  h1 {
    @apply text-2xl;
    @apply my-2;
  }

  h2 {
    @apply text-xl;
    @apply my-2;
  }

  h3 {
    @apply text-lg;
  }

  button,
  a {
    @apply focus:outline-none;
  }

  input,
  textarea,
  button,
  select,
  a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
